.container {
  display: flex;
  height: 100px;
  border: 3px solid red;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  flex-direction: column;
  justify-content: space-between;
}

.itemsFlex {
  height: inherit;
  width: 100px;
  border: 1px dashed purple;
  background-color: aqua;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
